* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  user-select: none;
  /* border: 1px solid grey; */
}

html {
  touch-action: manipulation;
}

body {
  font-family: sans-serif;
  background: #fff;
  transition: all 0.5s ease;
}

body.detransition {
  transition: none;
}

.header {
  font-size: 15vw;
  margin: 1.5rem 0 0 0;
  padding: 1rem;
  opacity: 0.1;
  mix-blend-mode: multiply;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.wrapper .btn {
  display: inline-block;
  text-align: center;
  padding: 0.75rem 1.5rem;
  background: #f3f3f3;
  border-radius: 3px;
  font-size: 1.5rem;
  text-decoration: none;
  width: fit-content;
  color: black;
  box-shadow: 0 5px 5px -3px #33333399;
  transform: translateY(-2px);
  transition: all 0.1s ease;
  cursor: pointer;
  margin: 0;
}

.wrapper .btn:hover {
  background: #fff;
  transition: all 0.1s ease;
}

.wrapper .btn:active {
  background: #fff;
  box-shadow: 0 5px 5px -3px #33333333;
  transform: translateY(0);
}
